{% extends 'base.html' %}

{% block content %}
  <div class="flex flex-between">
    <h2>Customer List</h2>
    <a class="flex flex-i-center btn-h-sm" role="button" href="{% url 'customer_add' %}">
      <svg class="h-s w-s m-r-xs" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7.8v8.4M7.8 12h8.4m4.8 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
      </svg>
      <span>Add Customer</span>
    </a>
  </div>
  
  <table>
    <thead>
      <tr>
        <th scope="col">Full Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
      <tr>
        <th scope="row">{{ customer.fullname }}</th>
        <td>{{ customer.address }}</td>
        <td>{{ customer.phone }}</td>
        <td class="flex flex-center">
          <a class="outline w-md mr-xs" role="button" href="">
            Packages
          </a>
          <a class="outline contrast w-md" role="button" href="{% url 'customer_delete' customer.id %}">
            Delete
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
